body {
  height: 90vh;
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  border-radius: 9px;
  height: 70px;
  font-size: 30px;
  padding: 20px;
  margin: 6px;
}
#imo {
  background-color: yellowgreen;
}
p {
  font-size: 35px;
}
button {
  margin-top: 150px;
  font-size: 50px;
  height: 70px;
  width: 400px;
}
